@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
      font-family: "Montserrat", sans-serif;
}
nav{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgb(48, 45, 45);
    color: white;
}
.logo{
    font-size: 20px;
}
.logo span{
    color: greenyellow;
    font-size: 40px;
}
.menubr-icon{
    font-size: 22px;
    color: white;
    display: none;
    cursor: pointer;
}
#click{
    display: none;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 13px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.5s;
}
nav ul li a:hover,.active-bg{
    background-color: rgb(191, 205, 205);
    color: black;
}
/* responsive code for nav bar  */
@media only screen and (max-width:940px){
    nav ul{
    position: fixed;
    width: 100%;
    top: 80px;
    flex-direction: column;
    height: 100vh;
    padding-top: 20px;
    background-color: rgb(34, 31, 31);
    color: white;
    left: -100%;
    text-align: center;
    transition: all 0.5s ease;
}
    .menubr-icon{
        display: block;
    }
    #click:checked ~ ul{
        left: 0%;
    }
    nav ul li a:hover{
    background:none;
    color: red;
}
.active-bg{
    color: white;
    background:none;
}
    nav ul li{
        margin: 50px 0;
    }
    nav ul li a{
        font-size: 22px;
    }
    #click:checked ~ .menubr-icon i::before{
        content: "\f00d";
    }

}